<div id="wrapper" class="container">
  <section class="homepage-slider" id="home-slider">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img
            src="assets/themes/images/carousel/slider_1.jpg"
            alt="anh bia 1"
          />
          <div class="intro">
            <!--<h1>Laptop mua online</h1>
							<p><span>Giảm thêm đến 1.000.000đ</span></p>
							<p><span>Áp dụng kèm theo khuyến mãi trả thẳng khác</span></p> -->
          </div>
        </li>
        <!-- <li>
						<img src="assets/themes/images/carousel/slider_4.png" alt="anh bia 2" />
						
					</li>
					<li>
						<img src="assets/themes/images/carousel/slider_5.png" alt="anh bia 3" />
						
					</li>
					<li>
						<img src="assets/themes/images/carousel/slider_6.png" alt="anh bia 4" />
						
					</li>
					<li>
						<img src="assets/themes/images/carousel/slider_7.png" alt="anh bia 5" />
						
					</li> -->
      </ul>
    </div>
  </section>
  <section class="header_text">
    Website chúng tôi chuyên cung cấp các sản phẩm chất lượng có uy tín và mới
    nhất trên thị trường hiện nay
    <br />Hãy ghé thăm trang web của chúng tôi và đừng bỏ lỡ các sản phẩm mới
    nhé!
  </section>
  <hr />
  <h4><span>New products</span></h4>

  <section class="main-content">
    <div class="row">
      <div class="span9">
        <ul class="thumbnails listing-products">
          <li class="span3" *ngFor="let product of products?.slice(10, 19)">
            <div class="product-box">
              <span class="sale_tag"></span>
              <a [routerLink]="['/product_detail', product.id]"
                ><img alt="" src="{{ product.photo }}" /></a
              ><br />
              <a [routerLink]="['/product_detail', product.id]" class="title">{{
                product.product_name
              }}</a
              ><br />
              <a  [routerLink]="['/product_detail', product.id]" class="category">
                <p class="price">
                  {{ formatPrice(product.price) }} {{ product.unit }}
                </p></a
              >
              <button
              height="2rem"
              color="primary500"
              class="css-16gdkk6"
              type="button"
              (click)="onButtonClick()"
            >
              <div type="body" color="primary500">Thêm vào giỏ</div>
            </button>
            </div>
          </li>
        </ul>
        <hr />
        <div class="pagination pagination-small pagination-centered">
          <ul>
            <li>
              <a [routerLink]="['/products']" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span>Prev</span>
              </a>
            </li>

            <li><a [routerLink]="['/products']">1</a></li>
            <li class="active"><a [routerLink]="['/product2']">2</a></li>
            <li>
              <a [routerLink]="['/product2']" aria-label="Next">
                <span>Next</span>
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="span3 col">
        <div id="menu-filter">
          <h3>Mức Giá</h3>
          <div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox1" type="checkbox" class="input-lg" />
              <label for="checkbox1"> Tất cả </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox2" type="checkbox" class="input-lg" />
              <label for="checkbox2"> Dưới 5 triệu </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox3" type="checkbox" class="input-lg" />
              <label for="checkbox3"> Từ 5 - 10 triệu </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox4" type="checkbox" class="input-lg" />
              <label for="checkbox4"> Từ 10 - 15 triệu </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox5" type="checkbox" class="input-lg" />
              <label for="checkbox5"> Từ 15 - 20 triệu </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox6" type="checkbox" class="input-lg" />
              <label for="checkbox6"> Trên 20 triệu </label>
            </div>
          </div>
          <h3>Loại Sản Phẩm</h3>
          <div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox11" type="checkbox" class="input-lg" />
              <label for="checkbox11"> Tất cả </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox22" type="checkbox" class="input-lg" />
              <label for="checkbox22"> Chơi game </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox33" type="checkbox" class="input-lg" />
              <label for="checkbox33"> Học tập - văn phòng </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox44" type="checkbox" class="input-lg" />
              <label for="checkbox44"> Đồ họa - kỹ thuật </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox55" type="checkbox" class="input-lg" />
              <label for="checkbox55"> Cao cấp - Sang trọng </label>
            </div>
          </div>
          <h3>Hãng Sản Xuất</h3>
          <div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox111" type="checkbox" class="input-lg" />
              <label for="checkbox111"> Tất cả </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox222" type="checkbox" class="input-lg" />
              <label for="checkbox222"> Apple </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox333" type="checkbox" class="input-lg" />
              <label for="checkbox333"> Dell </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox444" type="checkbox" class="input-lg" />
              <label for="checkbox444"> Asus </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox555" type="checkbox" class="input-lg" />
              <label for="checkbox555"> HP </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox666" type="checkbox" class="input-lg" />
              <label for="checkbox666"> Acer </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox777" type="checkbox" class="input-lg" />
              <label for="checkbox777"> Lenovo </label>
            </div>
          </div>
          <h3>Hệ Điều Hành</h3>
          <div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox8" type="checkbox" class="input-lg" />
              <label for="checkbox8"> Tất cả </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox9" type="checkbox" class="input-lg" />
              <label for="checkbox9"> Windows </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox10" type="checkbox" class="input-lg" />
              <label for="checkbox10"> macOS </label>
            </div>
            <div class="checkbox checkbox-primary">
              <input id="checkbox12" type="checkbox" class="input-lg" />
              <label for="checkbox12"> Dos </label>
            </div>
          </div>
        </div>
        <div class="block">
          <h4 class="title">
            <span class="pull-left"><span class="text">Ngẫu nhiên</span></span>
            <span class="pull-right">
              <a class="left button" href="#myCarousel" data-slide="prev"></a
              ><a class="right button" href="#myCarousel" data-slide="next"></a>
            </span>
          </h4>
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="active item">
                <ul class="thumbnails listing-products">
                  <li
                    class="span3"
                    *ngFor="let product of products?.slice(18, 19)"
                  >
                    <div class="product-box">
                      <span class="sale_tag"></span>
                      <a [routerLink]="['/product_detail', product.id]"
                        ><img alt="" src="{{ product.photo }}" /></a
                      ><br />
                      <a
                        [routerLink]="['/product_detail', product.id]"
                        class="title"
                        >{{ product.product_name }}</a
                      ><br />

                      <a [routerLink]="['/product_detail', product.id]" class="category"
                        ><p class="price">
                          {{ formatPrice(product.price) }} {{ product.unit }}
                        </p></a
                      >
                      <button
                      height="2rem"
                      color="primary500"
                      class="css-16gdkk6"
                      type="button"
                      (click)="onButtonClick()"
                    >
                      <div type="body" color="primary500">Thêm vào giỏ</div>
                    </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
