<div id="wrapper" class="container">
  <section class="homepage-slider" id="home-slider">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img
            src="assets/themes/images/carousel/slider_1.jpg"
            alt="anh bia 1"
          />
          <div class="intro">
            <!--<h1>Laptop mua online</h1>
							<p><span>Giảm thêm đến 1.000.000đ</span></p>
							<p><span>Áp dụng kèm theo khuyến mãi trả thẳng khác</span></p> -->
          </div>
          <!-- </li>
					<li>
						<img src="themes/images/carousel/slider_4.png" alt="anh bia 2" />
						
					</li>
					<li>
						<img src="themes/images/carousel/slider_5.png" alt="anh bia 3" />
						
					</li>
					<li>
						<img src="themes/images/carousel/slider_6.png" alt="anh bia 4" />
						
					</li>
					<li>
						<img src="themes/images/carousel/slider_7.png" alt="anh bia 5" />
						
					</li> -->
        </li>
      </ul>
    </div>
  </section>
  <section class="header_text">
    Website chúng tôi chuyên cung cấp các sản phẩm chất lượng có uy tín và mới
    nhất trên thị trường hiện nay
    <br />Hãy ghé thăm trang web của chúng tôi và đừng bỏ lỡ các sản phẩm mới
    nhé!
  </section>
  <br />
  <br />

  <section class="main-content">
    <div class="row">
      <div class="span5">
        <h4 class="title">
          <span class="text"><strong>Thông tin</strong> cá nhân</span>
        </h4>
        <form action="/customer" method="post">
          <input type="hidden" name="next" value="/" />
          <div *ngFor="let user of users">
            <fieldset>
              <div class="control-group">
                <label class="control-label">Họ tên</label>
                <div class="controls">
                  <span>{{ user.name }}</span>
                  <!-- <input
                  type="value"
                  class="output-xlarge"
                  id="name"
                  value="Nguyễn Quang Hưng"
                /> -->
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Số điện thoại</label>
                <div class="controls">
                  <span>{{ user.phone }}</span>
                  <!-- <input
                  type="value"
                  class="output-xlarge"
                  id="numberphone"
                  value="01234567489"
                /> -->
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Địa chỉ</label>
                <div class="controls">
                  <span>{{ user.address }}</span>
                  <!-- <input
                  type="value"
                  class="output-xlarge"
                  id="address"
                  value="TP Huế"
                /> -->
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Tỉnh/Thành</label>
                <div class="controls">
                  <span>{{ user.province }}</span>
                </div>
              </div>
              <div class="control-group">
                <button (click)="onEditClick()">Thay đổi thông tin</button>
                <hr />
              </div>
            </fieldset>
          </div>
        </form>
      </div>
      <div class="span7">
        <h4 class="title">
          <span class="text"><strong>Lịch sử</strong> mua hàng</span>
        </h4>
        <form action="/newcustomer" method="post" class="form-stacked">
          <fieldset>
            <div class="control-group">
              <label class="control-label"
                ><strong>Các sản phẩm đã mua</strong>
              </label>
            </div>
            <li class="span3">
              <div class="product-box">
                <a [routerLink]="['/product_detail']"
                  ><img
                    alt=""
                    src="assets/themes/images/cloth/laptop1.jpg" /></a
                ><br />
                <a [routerLink]="['/product_detail']" class="title"
                  >ASUS VivoBook Swift SF315</a
                ><br />
                <a href="#" class="category">i5 8250U/4GB/1TB/Win10</a>
                <p class="price">16.990.000 đ</p>
              </div>
            </li>
            <li class="span3">
              <div class="product-box">
                <span class="sale_tag"></span>
                <a [routerLink]="['/product_detail']"
                  ><img
                    alt=""
                    src="assets/themes/images/cloth/laptop2.jpg" /></a
                ><br />
                <a [routerLink]="['/product_detail']" class="title"
                  >ASUS Vivobook Max X441UA</a
                ><br />
                <a href="#" class="category">intel Core i3, RAM 4GB DDR4</a>
                <p class="price">9.790.000 đ</p>
              </div>
            </li>
            <li class="span3">
              <div class="product-box">
                <span class="sale_tag"></span>
                <a [routerLink]="['/product_detail']"
                  ><img alt="" src="assets/themes/images/cloth/anh4.jpg" /></a
                ><br />
                <a [routerLink]="['/product_detail']" class="title"
                  >Acer Chromebook R11 CB5-132T 11.6-Inch</a
                ><br />
                <a href="#" class="category">i5 8250U/4GB/1TB/Win10</a>
                <p class="price">16.500.000 đ</p>
              </div>
            </li>
            <li class="span3">
              <div class="product-box">
                <a [routerLink]="['/product_detail']"
                  ><img alt="" src="assets/themes/images/cloth/anh8.jpg" /></a
                ><br />
                <a [routerLink]="['/product_detail']" class="title"
                  >ROG ZENPHYRUS(GX501)</a
                ><br />
                <a href="#" class="category"
                  >Intel Core i7-7700HQ/24GB RAM/1TB SSD PCie</a
                >
                <p class="price">16.500.000 đ</p>
              </div>
            </li>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
</div>
