#body {
  font-size: 12px;
  font-family: "Open Sans", arial, tahoma, sans-serif;
  background: url(/../assets/themes/images/bg.png) repeat 0 0 fixed;
}
#body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  #body {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 979px) {
  #body {
    padding-top: 0;
  }
}
.html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
