

        <!--header start here-->
      
        <!--heder end here-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/admin']">Trang chủ</a> <i class="fa fa-angle-right"></i>
          </li>
        </ol>

        <!-- grids -->
        <div class="grids">
          <div class="agile-calendar-grid">
            <div class="page">
              <div class="w3l-calendar-left">
                <div class="calendar-heading">
                  <!-- 									<p>Noi dung</p>
 -->
                  <div class="agile-tables">
                    <div class="w3l-table-info">
                      <h2>Danh mục chức năng của admin:</h2>
                      <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                          <div class="list-group">
                            <a [routerLink]="['/productadmin']" class="list-group-item"
                              >Quản lý sản phẩm</a
                            >
                            <a [routerLink]="['/categoryadmin']" class="list-group-item"
                              >Quản lý loại sản phẩm</a
                            >
                            <a [routerLink]="['/customeradmin']" class="list-group-item"
                              >Quản lý khách hàng</a
                            >
                            <a [routerLink]="['/orderadmin']" class="list-group-item"
                              >Quản lý đơn hàng</a
                            >
                            <a [routerLink]="['/']" class="list-group-item"
                            >Trang chủ web</a
                          >
                          </div>
                        </div>
                   
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
     
     