<div id="wrapper" class="container">
  <section class="header_text sub">
  <app-post></app-post>
    <br />
    <h4><span>Thanh Toán</span></h4>
  </section>
  <section class="main-content">
    <div class="row">
      <div class="span9">
        <h4 class="title">
          <span class="text"><strong>Giỏ Hàng Của Bạn </strong></span>
        </h4>
        <table class="table table-striped">
          <thead>
            <tr>
              
              <th>Mặt hàng</th>
              <th>Tên Sản Phẩm</th>
              <th>Số Lượng</th>
              <th>Giá Tiền</th>
              <th>Tổng</th>
             
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let order of orders">
              <ng-container *ngFor="let product of products">
                <ng-container *ngIf="order.product_id === product.id">
                  <tr>
                
                    <td>
                      <a [routerLink]="['/product_detail']"
                        ><img
                          style="width: 60%"
                          src="assets/themes/images/cloth/{{ product.photo }}"
                      /></a>
                    </td>
                    <td>{{ product.product_name }}</td>
                    <td>{{order.quantity}}                  
                    </td>
                    <td>{{ formatPrice(product.price) }}{{ product.unit }}</td>
                    <td>{{ formatPrice(order.total) }}{{ product.unit }}</td>
                  
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
             
              <td>
                <strong>{{ formatPrice(this.totalSum) }}{{ this.unit }}</strong>
              </td>
              
             
            </tr>
          </tbody>
        </table>

        <hr />
     
      </div>
      <div class="span3 col">
        <div class="block">
          <ul class="nav nav-list below">
            <li class="nav-header">Phương thức thanh toán</li>
            <li >
            
               
             
              <div class="form-group">
                
                <select class="form-control" style="width: 226px;"  name="role" [(ngModel)]="editObj.paymentMethod">
                  <option value="">Chọn Phương thức thanh toán</option> 
                  <option value="Thanh toán khi nhận hàng">Thanh toán khi nhận hàng</option>
                  
                </select>
                
            </div>
            
       
              <button class="btn btn-inverse" type="submit" id="checkout" (click)="onPayment()">
                Thanh Toán
              </button>
         
             
            </li>
          </ul>
          <br />
        </div>
      </div>
    </div>
  </section>
</div>
