<div id="wrapper" class="container">
  <section class="homepage-slider" id="home-slider">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <app-post></app-post>
        </li>
      </ul>
    </div>
  </section>
  <section class="header_text">
    Website chúng tôi chuyên cung cấp các sản phẩm chất lượng có uy tín và mới
    nhất trên thị trường hiện nay
    <br />Hãy ghé thăm trang web của chúng tôi và đừng bỏ lỡ các sản phẩm mới
    nhé!
  </section>
  <br />
  <br />
  <h4><span>Đổi mật khẩu</span></h4>

  <section class="main-content">
    <div class="row">
      <div class="span5">
        <h4 class="title">
          <span class="text"><strong>Thông tin</strong> cá nhân</span>
        </h4>
        <form action="/change-password" method="post">
          <input type="hidden" name="next" value="/" />
          <div>
            <fieldset>
              <div class="control-group">
                <label class="control-label">Mật khẩu cũ:</label>
                <div class="controls">
                  <input
                    type="password"
                    [(ngModel)]="oldPassword"
                    class="input-xlarge"
                    name="oldPassword"
                    required
                  />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Mật khẩu mới:</label>
                <div class="controls">
                  <input
                    [(ngModel)]="newPassword"
                    type="password"
                    class="input-xlarge"
                    name="newPassword"
                    required
                  />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Nhập lại mật khẩu mới:</label>
                <div class="controls">
                  <input
                    [(ngModel)]="confirmNewPassword"
                    type="password"
                    class="input-xlarge"
                    name="confirmNewPassword"
                    required
                  />
                </div>
              </div>

              <div
                *ngIf="errorMessage"
                class="error-message"
                style="color: red"
              >
                {{ errorMessage }}
              </div>
              <br />
              <div class="control-group">
                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="onChangePassword()"
                >
                  <i class="fa fa-floppy-o"></i> Lưu dữ liệu
                </button>
                &#160;
                <a class="btn btn-default" routerLink="/customer"> Quay lại </a>

                <hr />
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
