<!-- <div id="menu">
  <ul>
    Các mục menu sẽ được tạo ra từ menuItems
    <li *ngFor="let menuItem of menuItems">
        <a href="#">{{ menuItem.name }}</a>
        <!-- Nếu menuItem có submenu, hiển thị submenu -->
        <!-- <ul *ngIf="menuItem.submenu && menuItem.submenu.length > 0">
          <li *ngFor="let subItem of menuItem.submenu">
            <a href="#">{{ subItem.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
   -->
  <!--  --><div class="navbar main-menu">
    <!-- Nút tìm kiếm -->
    <!-- <button id="btn-search" (click)="onSearchClick()">Search</button>
  </div> -->
  
  <!-- Toggle menu button -->
  <!-- <div class="_toggleMenu" (click)="toggleMenu()">
    <a class="toggleMenu" href="#">- MENU -</a>
    <ul class="nav" *ngIf="menuItems && menuItems.length > 0">
      <li *ngFor="let menuItem of menuItems">
        <a href="#">{{ menuItem.name }}</a>
        <!-- Nếu menuItem có submenu, hiển thị submenu -->
        <!-- <ul *ngIf="menuItem.submenu && menuItem.submenu.length > 0">
          <li *ngFor="let subItem of menuItem.submenu">
            <a href="#">{{ subItem.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div> --> -->
   --> -->