.btn-inve {

    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: rgb(20, 53, 195);
 
  }
  .span9 {
    width: 1179px;
}
button.btn.btn-inve {
  margin: 12px -30px;
}