.table th,.table td {
    text-align: center;
}
th {
    width: 30rem;
}
.span9 {
    width: 1178px;
}
.col-sm-4 {
    width: 260px;
}
label#for123 {
    width: 20%;
    margin-left: 55px;
}
.form-group {
    display: flex;
}
#for123 {
    font-weight: 700;
  }