
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a  [routerLink]="['/admin']" >Trang chủ</a
      ><i class="fa fa-angle-right"></i>Khách hàng
    </li>
  </ol>

  <div class="grids">
    <div class="agile-calendar-grid">
      <div class="page">
        <div class="w3l-calendar-left">
          <div class="calendar-heading">
            <div class="agile-tables">
              <div class="w3l-table-info">
                <h2>Danh sách khách hàng</h2>
                <input
                style="width:84.8%"
                type="text"
                class="search-query form-control input-group"
                Placeholder="Nhập tên khách hàng cần tìm"
              />

                <span class="input-group-btn">
                  <button
                    class="btn btn-primary rounded-circle btnpro"
                    
                    type="button"
                    id="btn-search"
                  >
                    <span class="fa fa-search"></span>
                  </button>
                  <a [routerLink]="['/addproduct']" class="btn btn-primary" style="margin-left:5px;">
                    <i class="fa fa-plus"></i> Bổ sung
                </a>
                </span>
                <table id="table">
                  <thead>
                    <tr>
                      <th>Mã khách hàng</th>
                      <th>Tên khách hàng</th>
                      <th>Địa chỉ</th>
                      <th>Số điện thoại</th>
                      <th>Ngày lập</th>
                      <th>Tỉnh</th>
                      <th>Phân quyền</th>
                      <th>Chỉnh sửa</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="danger" *ngFor="let user of users">
                      <td>{{user.id}}</td>
                      <td>{{user.name}}</td>
                      <td>{{user.address}}</td>
                      <td>{{user.phone}}</td>
                      <td>{{user.create_at}}</td>
                      <td>{{user.province}}</td>
                      <td>{{user.role_name}}</td>
                      <td style="text-align: center">
                        <a
                          class="agile-icon"
                          [routerLink]="['/editcustomeradmin']" 
                          data-toggle="modal"
                          data-target="#myModal"
                          ><i class="fa fa-pencil-square-o"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 wthree-crd">
      <div class="card">
        <div class="card-body"></div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="inner-block"></div>

  </div>


