<div class="container" id="block">
<section style="background-color: #857474" id="footer-bar">
    <div class="row">
      <div class="span3">
        <h4>Điều Hướng</h4>
        <ul class="nav">
          <li><a [routerLink]="['']">Trang chủ</a></li>
          <li><a [routerLink]="['/about']">Thông tin</a></li>
          <li><a [routerLink]="['/contact']">Liên hệ</a></li>
          <li><a [routerLink]="['/cart']">Giỏ hàng</a></li>
    
        </ul>
      </div>
      <div class="span4">
        <h4>My Account</h4>
        <ul class="nav">
          <li><a [routerLink]="['/customer']">Tài khoản của tôi</a></li>
          
          <!-- <li><a [routerLink]="['#">Làm mới</a></li> -->
        </ul>
      </div>
      <div class="span5">
        <p class="logo">
          <!-- <img src="themes/images/logo.png" class="site_logo" alt=""> -->
        </p>
        <h4>ILAPTOP</h4>

        <p style="color: white">
          Website chúng tôi chuyên cung cấp các sản phẩm chất lượng có uy tín
          và mới nhất trên thị trường hiện nay <br />Hãy ghé thăm trang web
          của chúng tôi và đừng bỏ lỡ các sản phẩm mới nhé!
        </p>
        <div style="margin-left: 60px">
          <a [routerLink]="['#']" class="button">
            <i class="fab fa-facebook-f fa-lg"></i>
          </a>
          <a [routerLink]="['#']" class="button">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
          <a [routerLink]="['#']" class="button">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="copyright">
    <span>3S HUE INTERNATIONAL SOFTWARE JOINT STOCK COMPANY.</span>
  </section>
