<div id="wrapper" class="container">
  <section class="homepage-slider" id="home-slider">
    <app-post></app-post>
  </section>
  <section class="header_text">
    Website chúng tôi chuyên cung cấp các sản phẩm chất lượng có uy tín và mới
    nhất trên thị trường hiện nay
    <br />Hãy ghé thăm trang web của chúng tôi và đừng bỏ lỡ các sản phẩm mới
    nhé!
  </section>
  <br />
  <br />

  <section class="main-content">
    <div class="row">
      <div class="span5">
        <div class="login">
          <h4 class="title">
            <span class="text"><strong>Đăng nhập </strong> </span>
          </h4>
          <!-- <form action="customer.html" method="post"> -->
          <input type="hidden" name="next" value="/" />
          <fieldset>
            <div class="control-group">
              <label class="control-label">Email</label>
              <div class="controls">
                <input
                  type="email"
                  [(ngModel)]="loginObj.email"
                  placeholder="Nhập Email"
                  id="email"
                  class="input-xlarge"
                  name="email"
                  required
                />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Mật khẩu</label>
              <div class="controls">
                <input
                  type="password"
                  [(ngModel)]="loginObj.password"
                  placeholder="Nhập mật khẩu"
                  id="password"
                  class="input-xlarge"
                  name="password"
                  required
                />
              </div>
            </div>

            <div *ngIf="errorMessage" class="error-message" style="color: red">
              {{ errorMessage }}
            </div>
            <br />
            <div class="control-group">
              <button
                tabindex="3"
                class="btn btn-primary large"
                (click)="onLogin()"
              >
                Đăng nhập
              </button>
              <!-- type="submit" id="submit" onclick="validate()" -->
              <br />
            </div>
          </fieldset>
          <!-- </form>	 -->
        </div>
      </div>
    </div>
  </section>
</div>
