<div id="wrapper" class="container">
  <section class="homepage-slider" id="home-slider">
    <app-post></app-post>
  </section>
  <section class="header_text">
    Website chúng tôi chuyên cung cấp các sản phẩm chất lượng có uy tín và mới
    nhất trên thị trường hiện nay
    <br />Hãy ghé thăm trang web của chúng tôi và đừng bỏ lỡ các sản phẩm mới
    nhé!
  </section>
  <app-notification></app-notification>
  <hr />
  <h4>
    <span *ngIf="routeSnapshot.paramMap.get('id')"
      >Category: {{ categoryName }}</span
    >
    <span *ngIf="routeSnapshot.paramMap.get('name')"
      >Product: {{ routeSnapshot.paramMap.get("name") }}</span
    >
    <span *ngIf="(routeSnapshot.paramMap.get('price')) =='10000000'"
      >Dưới 10 triệu</span
    >
    <span *ngIf="(routeSnapshot.paramMap.get('price')) =='20000000'"
    >Từ 10 - 20 triệu</span
    >
    <span *ngIf="(routeSnapshot.paramMap.get('price')) =='20000001'"
    >Từ 20 - 30 triệu</span
     >
    <span *ngIf="(routeSnapshot.paramMap.get('price')) =='30000001'"
    >Trên 30 triệu</span
   >
  </h4>
  
  <section class="main-content">
    <div class="row">
      <div class="span9">
        <ul class="thumbnails listing-products">
          <li class="span3" *ngFor="let product of getPaginatedProducts()">
            <div class="product-box">
              <span class="sale_tag"></span>
              <a [routerLink]="['/product_detail', product.id]"
                ><img
                  style="height: 270px"
                  alt=""
                  src="assets/themes/images/cloth/{{ product.photo }} " /></a
              ><br />
              <a [routerLink]="['/product_detail', product.id]" class="title">{{
                product.product_name
              }}</a
              ><br />
              <a
                [routerLink]="['/product_detail', product.id]"
                class="category"
              >
                <p class="price">
                  {{ formatPrice(product.price) }} {{ product.unit }}
                </p></a
              >
              <!-- <a class="category">
                <button class="price">Thêm vào giỏ</button>
              </a> -->
              <button
                height="2rem"
                color="primary500"
                class="css-16gdkk6"
                type="button"
                (click)="onButtonClick(product.id, product.price)"
              >
                <div type="body" color="primary500">Thêm vào giỏ</div>
              </button>
            </div>
          </li>
        </ul>
        <hr />
        <div class="pagination pagination-small pagination-centered">
          <ul *ngIf="products.length > pageSize">
            <li
              *ngFor="let page of pageNumbers"
              [class.active]="page === currentPage"
            >
              <a (click)="setCurrentPage(page)">{{ page }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="span3 col">
        <div id="menu-filter">
          <ul class="nav nav-list below">
            <h3>Mức giá</h3>
            <li><a [routerLink]="['/products']">Tất cả</a></li>
            <li>
              <a [routerLink]="['/products/price/10000000']">Dưới 10 triệu</a>
            </li>
            <li>
              <a [routerLink]="['/products/price/20000000']"
                >Từ 10 - 20 triệu</a
              >
            </li>
            <li>
              <a [routerLink]="['/products/price/20000001']"
                >Từ 20 - 30 triệu</a
              >
            </li>
            <li>
              <a [routerLink]="['/products/price/30000001']">Trên 30 triệu</a>
            </li>
          </ul>
          <div>
            <br />
            <ul class="nav nav-list below">
              <h3>Laptop</h3>
              <li *ngFor="let category1 of filteredCategories">
                <a [routerLink]="['/products', category1.id]">{{
                  category1.category_name
                }}</a>
              </li>
            </ul>
            <ul class="nav nav-list below">
              <h3>PC Máy tính bàn</h3>
              <li *ngFor="let category1 of filteredCategories1">
                <a [routerLink]="['/products', category1.id]">{{
                  category1.category_name
                }}</a>
              </li>
            </ul>
            <ul class="nav nav-list below">
              <h3>Bàn phím</h3>
              <li *ngFor="let category1 of filteredCategories2">
                <a [routerLink]="['/products', category1.id]">{{
                  category1.category_name
                }}</a>
              </li>
            </ul>
            <ul class="nav nav-list below">
              <h3>Chuột máy tính</h3>
              <li *ngFor="let category1 of filteredCategories3">
                <a [routerLink]="['/products', category1.id]">{{
                  category1.category_name
                }}</a>
              </li>
            </ul>
          </div>
        </div>
        <br />
      </div>
    </div>
  </section>
</div>
